openapi: 3.0.0
info:
  title: Team 695 API
  description: Team 695 API Documentation for multiple services including
    authentication, events, surveys, teams, uploads, and feedback
  version: 1.5.6
servers:
  - url: https://api.team695.com
    description: Production server
  - url: http://localhost:3000/api
    description: Development server
tags:
  - name: Auth
    description: APIs related to authentication and authorization
  - name: Events
    description: APIs related to event management
  - name: Surveys
    description: APIs related to survey submissions and queries
  - name: Teams
    description: APIs related to team information
  - name: Uploads
    description: APIs for uploading and managing files
  - name: Feedback
    description: APIs for submitting feedback
  - name: Webhooks
    description: APIs for receiving webhook notifications from external services
  - name: Assignments
    description: APIs related to task assignments
  - name: TeamMatches
    description: APIs related to team matches and pit-scouting status
  - name: Info
    description: APIs for retrieving API information and status
  - name: Scoutify
    description: APIs for reading data from the Scoutify secondary database
x-error-catalog:
  global:
    invalidJsonPayload:
      status: 400
      message: Invalid JSON payload
      appliesTo:
        - POST endpoints with application/json body
        - PUT endpoints with application/json body
        - PATCH endpoints with application/json body
    authMiddleware401:
      status: 401
      messages:
        - No authentication token provided
        - Token has been revoked
        - Token is invalid or has been revoked
        - Token has expired
        - Token validation failed
        - Failed to verify token
    requireAdmin:
      statusCodes:
        - 401
        - 403
        - 500
      messages:
        "401":
          - Authentication required
        "403":
          - Admin privileges required
        "500":
          - Failed to verify admin privileges
    rateLimit:
      status: 429
      messages:
        api:
          - Too many requests per second, please slow down.
          - Too many requests per minute, please try again later.
        auth:
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        feedback:
          - Too many feedback submissions per second.
          - Too many feedback submissions per minute.
        scoutifyPublic:
          - Too many Scoutify query requests per second.
          - Too many Scoutify query requests per minute.
  endpoints:
    /auth/callback:
      post:
        "400":
          - Authorization code required
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Authentication failed
    /auth/user-info:
      get:
        "400":
          - Token required
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to proxy to Casdoor
          - Failed to get user information
    /auth/me:
      get:
        "401":
          - Please provide a valid JWT token or API Key/Secret
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to proxy to Casdoor
          - Failed to get user information
    /auth/validate:
      get:
        "401":
          - Authentication required
          - Token/API Key is no longer valid
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to validate token
    /auth/refresh-token:
      post:
        "400":
          - Refresh token required
          - Invalid JSON payload
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to refresh token
    /auth/logout:
      post:
        "400":
          - Token required
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
    /auth/revoke-token:
      post:
        "400":
          - Token required
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to revoke token
          - Failed to verify admin privileges
    /auth/users:
      get:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to retrieve users
          - Failed to verify admin privileges
    /auth/api-keys:
      post:
        "400":
          - No valid authentication provided
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "429":
          - Too many authentication attempts per second.
          - Too many authentication attempts per minute.
        "500":
          - Failed to generate API keys
          - Failed to generate API keys: <upstream error>
    /feedback:
      post:
        "429":
          - Too many feedback submissions per second.
          - Too many feedback submissions per minute.
        "500":
          - Database insertion error
    /upload/upload:
      post:
        "400":
          - No file uploaded
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "404":
          - Event not found
        "500":
          - Failed to upload image
    /upload/images/{imageId}:
      delete:
        "401":
          - Authentication required
        "403":
          - Admin privileges required
        "404":
          - Image not found
          - Image not found in the specified type
        "500":
          - Failed to verify admin privileges
          - Failed to delete image
    /event/event-id:
      get:
        "404":
          - Event not found
        "500":
          - Failed to fetch event ID
    /team/teams:
      get:
        "500":
          - Failed to fetch teams
    /survey/submit:
      post:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "500":
          - Failed to submit survey
    /survey/query:
      get:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "500":
          - Failed to query survey responses
    /webhook/tba:
      post:
        "401":
          - Missing X-TBA-HMAC header
          - Invalid X-TBA-HMAC signature
        "500":
          - Server configuration error
          - Error verifying webhook signature
          - Error processing webhook
    /webhook/tba/status:
      get:
        "500":
          - Error getting webhook status
    /assignments:
      post:
        "400":
          - Missing required fields or no assignees specified
          - Team numbers are required for pit-scouting tasks
          - Alliance and matches are required for scouting tasks
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "500":
          - Failed to create assignment
          - Error creating assignment
          - Failed to verify admin privileges
    /assignments/{id}:
      put:
        "400":
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "404":
          - Assignment not found or no changes applied
        "500":
          - Error updating assignment
          - Failed to verify admin privileges
      delete:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "404":
          - Assignment not found
        "500":
          - Error deleting assignment
          - Failed to verify admin privileges
    /assignments/events/{eventKey}:
      get:
        "400":
          - Event key is required
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "403":
          - Admin privileges required
        "500":
          - Error getting event assignments
          - Failed to verify admin privileges
    /assignments/user/{eventKey}:
      get:
        "400":
          - Event key is required
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
          - Authentication required
        "500":
          - Error getting user assignments
    /team-matches/event/{eventKey}:
      get:
        "400":
          - Event key is required
        "500":
          - Error getting teams for event
    /team-matches/pit-status/{eventKey}/{teamKey}:
      put:
        "400":
          - Event key and team key are required
          - is_pit status is required
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "404":
          - Team not found for this event (using team key: <value>)
        "500":
          - Error updating pit-scouting status
    /team-matches/pit-status/{eventKey}/{teamNumber}:
      put:
        "400":
          - Event key and team number are required
          - is_pit status is required
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "404":
          - Team not found for this event (using team number: <value>)
        "500":
          - Error updating pit-scouting status
    /scoutify/user/me:
      get:
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to get Scoutify user binding
    /scoutify/user/me/android-device:
      get:
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to get Android device binding
      patch:
        "400":
          - androidDeviceId is required
          - Invalid JSON payload
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to update Android device binding
    /scoutify/game-matchups:
      get:
        "429":
          - Too many Scoutify query requests per second.
          - Too many Scoutify query requests per minute.
        "500":
          - Failed to query game matchups
    /scoutify/game-details:
      get:
        "429":
          - Too many Scoutify query requests per second.
          - Too many Scoutify query requests per minute.
        "500":
          - Failed to query game details
    /scoutify/game-comments:
      get:
        "429":
          - Too many Scoutify query requests per second.
          - Too many Scoutify query requests per minute.
        "500":
          - Failed to query game comments
      post:
        "400":
          - Missing required fields for game comment
          - Invalid numeric fields for game comment
          - gc_comment is required
          - gc_comment must be 200 characters or fewer after sanitization
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to create game comment
    /scoutify/event-assignments:
      get:
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to query event assignments
    /scoutify/event-tasks:
      get:
        "404":
          - No Scoutify user binding found for current Casdoor user
        "500":
          - Failed to query event tasks
    /scoutify/admin/users/{teamNumber}/{scoutifyUserId}/android-device:
      patch:
        "400":
          - teamNumber and scoutifyUserId are required
          - androidDeviceId must be a string or null
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - Scoutify user not found
        "500":
          - Failed to update Android device binding
          - Failed to verify admin privileges
    /scoutify/admin/game-details:
      post:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "500":
          - Failed to create game detail
          - Failed to verify admin privileges
      put:
        "400":
          - match and changes are required
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - No game detail row updated
        "500":
          - Failed to update game detail
          - Failed to verify admin privileges
      delete:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - No game detail row deleted
        "500":
          - Failed to delete game detail
          - Failed to verify admin privileges
    /scoutify/admin/event-assignments:
      post:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "500":
          - Failed to create event assignment
          - Failed to verify admin privileges
      delete:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - No event assignment row deleted
        "500":
          - Failed to delete event assignment
          - Failed to verify admin privileges
    /scoutify/admin/event-tasks:
      post:
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "500":
          - Failed to create event task
          - Failed to verify admin privileges
    /scoutify/admin/event-tasks/{taskId}:
      put:
        "400":
          - taskId is required
          - Invalid JSON payload
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - No event task row updated
        "500":
          - Failed to update event task
          - Failed to verify admin privileges
      delete:
        "400":
          - taskId is required
        "401":
          - No authentication token provided
          - Token has been revoked
          - Token is invalid or has been revoked
          - Token has expired
          - Token validation failed
          - Failed to verify token
        "403":
          - Admin privileges required
        "404":
          - No event task row deleted
        "500":
          - Failed to delete event task
          - Failed to verify admin privileges
    /info/endpoints:
      get:
        "429":
          - Too many requests per second, please slow down.
          - Too many requests per minute, please try again later.
        "500":
          - Failed to retrieve API endpoints
    /info/endpoints/by-tag/{tag}:
      get:
        "429":
          - Too many requests per second, please slow down.
          - Too many requests per minute, please try again later.
        "500":
          - Failed to retrieve API endpoints by tag
    /info/api-info:
      get:
        "429":
          - Too many requests per second, please slow down.
          - Too many requests per minute, please try again later.
        "500":
          - Failed to retrieve API information
    /info/status:
      get:
        "429":
          - Too many requests per second, please slow down.
          - Too many requests per minute, please try again later.
        "500":
          - Failed to retrieve status
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Also called Access Key
    apiSecretAuth:
      type: apiKey
      in: header
      name: X-API-Secret
      description: Used together with X-API-Key, also called Access Secret Key
  schemas:
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates if the request was successful
        message:
          type: string
          description: Optional message providing additional information
        data:
          type: object
          description: Response data (varies by endpoint)
        error:
          type: string
          description: Error details (only in non-production environments)
    ApiErrorResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          enum:
            - false
          description: Always false for error responses
        message:
          type: string
          description: Error message
        error:
          type: string
          description: Error details (only in non-production environments)
      example:
        success: false
        message: Unauthorized
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT Access Token
        refresh_token:
          type: string
          description: JWT Refresh Token for obtaining a new access token
        token_type:
          type: string
          description: Token Type (usually "Bearer")
        expires_in:
          type: integer
          description: Access Token Expiration Time in seconds
    UserInfo:
      type: object
      properties:
        sub:
          type: string
          description: User ID
        name:
          type: string
          description: User Name
        email:
          type: string
          description: User Email
        preferred_username:
          type: string
          description: Preferred Username
        owner:
          type: string
          description: Owner of the user
        role:
          type: string
          description: User role
        isAdmin:
          type: boolean
          description: Whether the user is an admin
        groups:
          type: array
          items:
            type: string
          description: User groups
    DecodedToken:
      type: object
      properties:
        header:
          type: object
          properties:
            alg:
              type: string
              description: Algorithm used for token signing
            kid:
              type: string
              description: Key ID
            typ:
              type: string
              description: Token type
        payload:
          $ref: "#/components/schemas/UserInfo"
        signature:
          type: string
          description: Token signature
    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          description: Refresh token to exchange for a new access token
    FeedbackRequest:
      type: object
      properties:
        nickname:
          type: string
          description: Name of the person submitting feedback
        category:
          type: string
          description: Feedback category
        title:
          type: string
          description: Feedback title
        contact:
          type: string
          description: Contact information (usually email)
        content:
          type: string
          description: Feedback content
        deviceInfo:
          type: object
          properties:
            userAgent:
              type: string
            ip:
              type: string
            screenSize:
              type: string
            language:
              type: string
    UploadResponse:
      type: object
      properties:
        url:
          type: string
          description: URL of the uploaded file
    EventResponse:
      type: object
      properties:
        eventId:
          type: string
          description: ID of the current event
    TeamResponse:
      type: object
      properties:
        team_number:
          type: string
          description: Team number
        team_name:
          type: string
          description: Team name
    SurveySubmissionRequest:
      type: object
      properties:
        eventId:
          type: string
          description: ID of the event
        tabs:
          type: array
          items:
            type: object
            properties:
              formId:
                type: string
              formData:
                type: array
                items:
                  type: object
        images:
          type: object
          properties:
            fullRobotImages:
              type: array
              items:
                $ref: "#/components/schemas/ImageData"
            driveTrainImages:
              type: array
              items:
                $ref: "#/components/schemas/ImageData"
        userData:
          type: object
          properties:
            email:
              type: string
            avatar:
              type: string
            userId:
              type: string
            username:
              type: string
            displayName:
              type: string
        deviceInfo:
          type: object
          properties:
            userAgent:
              type: string
            ip:
              type: string
            language:
              type: string
    ImageData:
      type: object
      properties:
        url:
          type: string
          description: URL of the image
        name:
          type: string
          description: Name of the image
        size:
          type: number
          description: Size of the image in bytes
    SurveyResponse:
      type: object
      properties:
        id:
          type: integer
        event_id:
          type: string
        form_id:
          type: string
        data:
          type: object
        upload:
          type: object
        user_data:
          type: object
        user_agent:
          type: string
        ip:
          type: string
        language:
          type: string
        timestamp:
          type: string
          format: date-time
    WebhookTbaRequest:
      type: object
      properties:
        message_type:
          type: string
          description: Type of TBA notification
          enum:
            - ping
            - verification
        message_data:
          type: object
          properties:
            title:
              type: string
              description: Title of the ping notification
            desc:
              type: string
              description: Description of the ping notification
            verification_key:
              type: string
              description: Verification key for webhook verification
    WebhookStatus:
      type: object
      properties:
        verified:
          type: boolean
          description: Whether the webhook is verified
        lastPing:
          type: string
          format: date-time
          description: Timestamp of the last ping received
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
          description: Current status of the webhook
    CreateAssignmentRequest:
      type: object
      properties:
        event_key:
          type: string
          description: Event key (e.g. 2025ohcl)
        task_type:
          type: string
          enum:
            - scouting
            - pit-scouting
          description: Type of scouting task
        assigned_team_numbers:
          type: array
          items:
            type: integer
          description: List of team numbers for pit-scouting
        assigned_alliance:
          type: string
          enum:
            - red
            - blue
          description: Alliance color for scouting
        assigned_matches:
          type: string
          description: Range of matches for scouting (e.g. Q3-Q12)
        assignees_data:
          type: array
          items:
            $ref: "#/components/schemas/UserData"
          description: List of users assigned to this task
        notes:
          type: string
          description: Additional notes for the assignment
      required:
        - event_key
        - task_type
        - assignees_data
    UpdateAssignmentRequest:
      type: object
      properties:
        assigned_team_numbers:
          type: array
          items:
            type: integer
          description: List of team numbers for pit-scouting
        assigned_alliance:
          type: string
          enum:
            - red
            - blue
          description: Alliance color for scouting
        assigned_matches:
          type: string
          description: Range of matches for scouting (e.g. Q3-Q12)
        assignees_data:
          type: array
          items:
            $ref: "#/components/schemas/UserData"
          description: List of users assigned to this task
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - canceled
          description: Current status of the assignment
        notes:
          type: string
          description: Additional notes for the assignment
    TaskAssignment:
      type: object
      properties:
        id:
          type: integer
          description: Assignment ID
        event_key:
          type: string
          description: Event key (e.g. 2025ohcl)
        task_type:
          type: string
          enum:
            - scouting
            - pit-scouting
          description: Type of scouting task
        assigned_team_numbers:
          type: array
          items:
            type: integer
          description: List of team numbers for pit-scouting
        assigned_alliance:
          type: string
          enum:
            - red
            - blue
          description: Alliance color for scouting
        assigned_matches:
          type: string
          description: Range of matches for scouting (e.g. Q3-Q12)
        assigner_data:
          $ref: "#/components/schemas/UserData"
        assignees_data:
          type: array
          items:
            $ref: "#/components/schemas/UserData"
          description: List of users assigned to this task
        status:
          type: string
          enum:
            - pending
            - in_progress
            - completed
            - canceled
          description: Current status of the assignment
        notes:
          type: string
          description: Additional notes for the assignment
        created_at:
          type: string
          format: date-time
          description: Assignment creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Assignment last update timestamp
    TeamMatch:
      type: object
      properties:
        id:
          type: integer
        event_key:
          type: string
          description: Event key (e.g., 2025ohcl)
        team_key:
          type: string
          description: Team key from TBA (e.g., frc695)
        team_number:
          type: integer
          description: Team number
        nickname:
          type: string
          description: Team nickname
        is_pit:
          type: boolean
          description: Flag indicating if pit-scouting is completed
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserData:
      type: object
      properties:
        email:
          type: string
          description: User email address
        avatar:
          type: string
          description: URL to user avatar
        userId:
          type: string
          description: User ID
        username:
          type: string
          description: Username
        displayName:
          type: string
          description: User display name
    EndpointInfo:
      type: object
      properties:
        path:
          type: string
          description: API endpoint path
        method:
          type: string
          description: HTTP method
        summary:
          type: string
          description: Brief description of the endpoint
        description:
          type: string
          description: Detailed description of the endpoint
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the endpoint
        security:
          type: array
          items:
            type: string
          description: Security requirements for the endpoint
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              in:
                type: string
              required:
                type: boolean
              description:
                type: string
        requestBody:
          type: object
          properties:
            required:
              type: boolean
            contentTypes:
              type: array
              items:
                type: string
        responses:
          type: array
          items:
            type: string
    ApiInfo:
      type: object
      properties:
        name:
          type: string
          description: API name
        description:
          type: string
          description: API description
        version:
          type: string
          description: API version
        author:
          type: string
          description: API author
        license:
          type: string
          description: API license
        servers:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              description:
                type: string
        contact:
          type: object
          properties:
            name:
              type: string
            website:
              type: string
            email:
              type: string
        documentation:
          type: object
          properties:
            swagger:
              type: string
            endpoints:
              type: string
            health:
              type: string
        tags:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
        features:
          type: object
          properties:
            authentication:
              type: boolean
            fileUploads:
              type: boolean
            webhooks:
              type: boolean
            swagger:
              type: boolean
            cors:
              type: boolean
            rateLimit:
              type: boolean
            security:
              type: boolean
        statistics:
          type: object
          properties:
            totalEndpoints:
              type: integer
            totalTags:
              type: integer
            supportedMethods:
              type: array
              items:
                type: string
            authMethods:
              type: array
              items:
                type: string
        runtime:
          type: object
          properties:
            nodeVersion:
              type: string
            environment:
              type: string
            uptime:
              type: number
            platform:
              type: string
            arch:
              type: string
        lastUpdated:
          type: string
          format: date-time
    ServiceStatus:
      type: object
      properties:
        service:
          type: string
          description: Service name
        status:
          type: string
          enum:
            - operational
            - degraded
            - down
          description: Current service status
        timestamp:
          type: string
          format: date-time
          description: Status check timestamp
        uptime:
          type: object
          properties:
            seconds:
              type: number
            formatted:
              type: string
        version:
          type: string
          description: Service version
        environment:
          type: string
          description: Runtime environment
        endpoints:
          type: object
          properties:
            health:
              type: string
            info:
              type: string
            documentation:
              type: string
            endpoints:
              type: string
    PostAuthCallbackSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TokenResponse"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetAuthUserInfoSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/DecodedToken"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetAuthMeSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/UserInfo"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetAuthValidateSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            valid:
              type: boolean
            isAdmin:
              type: boolean
            tokenStatus:
              type: string
              enum:
                - active
            fromCache:
              type: boolean
              description: Indicates if the result came from cache
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostAuthRefreshTokenSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TokenResponse"
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostAuthLogoutSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            message:
              type: string
              example: Logged out successfully
            details:
              type: object
              properties:
                localBlacklist:
                  type: boolean
                casdoorLogout:
                  type: boolean
                casdoorDeleteToken:
                  type: boolean
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostAuthRevokeTokenSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            message:
              type: string
              example: Token revoked successfully
            details:
              type: object
              properties:
                localBlacklist:
                  type: boolean
                casdoorLogout:
                  type: boolean
                casdoorDeleteToken:
                  type: boolean
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetAuthUsersSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/UserInfo"
            total:
              type: integer
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostAuthApiKeysSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            accessKey:
              type: string
              description: Generated API access key
            accessSecret:
              type: string
              description: Generated API access secret
            userId:
              type: string
              description: User ID the keys were generated for
            message:
              type: string
              example: API Keys generated successfully
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostFeedback201Success:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            message:
              type: string
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostUploadUploadSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/UploadResponse"
      example:
        success: true
        message: Request completed successfully
        data: {}
    DeleteUploadImagesByImageIdSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            message:
              type: string
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetEventEventIdSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/EventResponse"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetTeamTeamsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostSurveySubmitSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            message:
              type: string
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetSurveyQuerySuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            $ref: "#/components/schemas/SurveyResponse"
      example:
        success: true
        message: Request completed successfully
        data: []
    PostWebhookTbaSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            received:
              type: boolean
            verification_key:
              type: string
              description: Only present for verification messages
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetWebhookTbaStatusSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/WebhookStatus"
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostAssignmentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TaskAssignment"
      example:
        success: true
        message: Request completed successfully
        data: {}
    PutAssignmentsByIdSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TaskAssignment"
      example:
        success: true
        message: Request completed successfully
        data: {}
    DeleteAssignmentsByIdSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            deleted:
              type: boolean
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetAssignmentsEventsByEventSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaskAssignment"
      example:
        success: true
        message: Request completed successfully
        data: []
    GetAssignmentsUserByEventSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            $ref: "#/components/schemas/TaskAssignment"
      example:
        success: true
        message: Request completed successfully
        data: []
    GetTeamMatchesEventByEventSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            $ref: "#/components/schemas/TeamMatch"
      example:
        success: true
        message: Request completed successfully
        data: []
    PutTeamMatchesPitStatusByEventByTeamKeySuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TeamMatch"
      example:
        success: true
        message: Request completed successfully
        data: {}
    PutTeamMatchesPitStatusByEventByTeamNoSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/TeamMatch"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetScoutifyUserMeSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetScoutifyUserMeAndroidDevSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PatchScoutifyUserMeAndroidDevSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetScoutifyGameMatchupsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            type: object
      example:
        success: true
        message: Request completed successfully
        data: []
    GetScoutifyGameDetailsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            type: object
      example:
        success: true
        message: Request completed successfully
        data: []
    GetScoutifyGameCommentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: array
          items:
            type: object
      example:
        success: true
        message: Request completed successfully
        data: []
    PostScoutifyGameCommentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetScoutifyEventAssignmentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetScoutifyEventTasksSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PatchScoutifyAdminUsersByTeamNoByScoutUserAndroidDevSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostScoutifyAdminGameDetailsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PutScoutifyAdminGameDetailsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    DeleteScoutifyAdminGameDetailsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostScoutifyAdminEventAssignmentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    DeleteScoutifyAdminEventAssignmentsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PostScoutifyAdminEventTasksSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    PutScoutifyAdminEventTasksByTaskSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    DeleteScoutifyAdminEventTasksByTaskSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetInfoEndpointsSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            total:
              type: integer
            endpoints:
              type: array
              items:
                $ref: "#/components/schemas/EndpointInfo"
            tags:
              type: array
              items:
                type: string
            lastUpdated:
              type: string
              format: date-time
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetInfoEndpointsByTagByTagSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          type: object
          properties:
            tag:
              type: string
            total:
              type: integer
            endpoints:
              type: array
              items:
                $ref: "#/components/schemas/EndpointInfo"
            lastUpdated:
              type: string
              format: date-time
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetInfoApiInfoSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/ApiInfo"
      example:
        success: true
        message: Request completed successfully
        data: {}
    GetInfoStatusSuccess:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Always true for success responses
        message:
          type: string
          description: Optional success message
        data:
          $ref: "#/components/schemas/ServiceStatus"
      example:
        success: true
        message: Request completed successfully
        data: {}
paths:
  /auth/callback:
    post:
      summary: Exchange authorization code for access token
      description: Process the authorization code returned from Casdoor and exchange
        it for an access token
      tags:
        - Auth
      parameters:
        - in: query
          name: code
          required: true
          schema:
            type: string
          description: Authorization code returned from Casdoor
      responses:
        "200":
          description: Successfully exchanged code for token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAuthCallbackSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/user-info:
    get:
      summary: Decode JWT token and return user info
      description: Decode the JWT token and return user information
      tags:
        - Auth
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
          description: JWT Token to decode
      responses:
        "200":
          description: User information decoded from the token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuthUserInfoSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/me:
    get:
      summary: Get current user info (Local validation only)
      description: >
        Retrieves the current user's information using the provided JWT token or
        API Key.

        Note: This endpoint only performs local JWT validation and does not
        verify with the Casdoor server if the token has been revoked.

        For security-critical operations, use `/auth/validate` to verify token
        validity with the server.
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: query
          name: token
          schema:
            type: string
          description: JWT Token (optional, if not provided in Authorization header)
      responses:
        "200":
          description: User information retrieved successfully (based on local validation
            only)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuthMeSuccess"
        "401":
          description: Unauthorized - Token format is invalid or missing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/validate:
    get:
      summary: Validate JWT token or API Key with server
      description: >
        Performs a complete validation of the provided JWT token or API Key by
        verifying with the Casdoor server.

        This endpoint checks if the token has been revoked, is still active, and
        returns its admin status.

        Use this endpoint for security-critical operations requiring full token
        validation.
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: query
          name: token
          schema:
            type: string
          description: JWT Token (optional, if not provided in Authorization header)
        - in: query
          name: bypassCache
          schema:
            type: boolean
            default: false
          description: Force verification with server, bypassing cached results
      responses:
        "200":
          description: Token is valid according to server verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuthValidateSuccess"
        "401":
          description: Unauthorized - Token is invalid, expired, or has been revoked on
            the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/refresh-token:
    post:
      summary: Refresh access token
      description: Use a refresh token to obtain a new access token
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAuthRefreshTokenSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/logout:
    post:
      summary: Logout user
      description: Revokes the current token by calling both Casdoor logout and
        delete-token endpoints, and adds it to the local blacklist
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      responses:
        "200":
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAuthLogoutSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/revoke-token:
    post:
      summary: Revoke a specific token (Admin only)
      description: Allows administrators to revoke a specific token
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The token to revoke
      responses:
        "200":
          description: Token revoked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAuthRevokeTokenSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/users:
    get:
      summary: Get all users in organization (admin only)
      description: Retrieve all users from the organization (admin only)
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
          description: Number of users per page
        - in: query
          name: pageNumber
          schema:
            type: integer
            default: 1
          description: Page number
        - in: query
          name: sortField
          schema:
            type: string
          description: Field to sort users by
        - in: query
          name: sortOrder
          schema:
            type: string
            enum:
              - asc
              - desc
          description: Sort order
      responses:
        "200":
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuthUsersSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /auth/api-keys:
    post:
      summary: Generate API access keys
      description: >
        Generates new API access key and secret for the authenticated user.

        - Authentication is done using the headers (X-API-Key and X-API-Secret
        or Bearer token)

        - The authenticated user's identity is used to determine which user to
        generate keys for

        - API keys are generated by the Casdoor server
      tags:
        - Auth
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      responses:
        "200":
          description: API keys generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAuthApiKeysSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Non-admin trying to generate keys for another user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /feedback:
    post:
      summary: Submit feedback
      description: Submit feedback for the website or service
      tags:
        - Feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "201":
          description: Feedback submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostFeedback201Success"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Too many requests
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /upload/upload:
    post:
      summary: Upload a file
      description: Upload an image file to the server
      tags:
        - Uploads
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload
                type:
                  type: string
                  description: Type of upload (e.g., 'robots', 'drivetrain')
      responses:
        "200":
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostUploadUploadSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /upload/images/{imageId}:
    delete:
      summary: Delete an image
      description: Delete an uploaded image by ID
      tags:
        - Uploads
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: path
          name: imageId
          required: true
          schema:
            type: string
          description: ID of the image to delete
      responses:
        "200":
          description: Image deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUploadImagesByImageIdSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "404":
          description: Image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /event/event-id:
    get:
      summary: Get current event ID
      description: Retrieve the ID of the most recent event (public endpoint)
      tags:
        - Events
      responses:
        "200":
          description: Event ID retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEventEventIdSuccess"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /team/teams:
    get:
      summary: Get list of teams
      description: Retrieve a list of all teams with their numbers and names
      tags:
        - Teams
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Optional maximum number of teams to return; omit to fetch all
            (capped at 1000 when provided)
        - in: query
          name: teamNumber
          schema:
            type: string
          description: Exact match on team number
        - in: query
          name: teamName
          schema:
            type: string
          description: Case-insensitive partial match on team name
      responses:
        "200":
          description: Teams retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTeamTeamsSuccess"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /survey/submit:
    post:
      summary: Submit survey response
      description: Submit a new survey response for an event
      tags:
        - Surveys
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SurveySubmissionRequest"
      responses:
        "200":
          description: Survey submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostSurveySubmitSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /survey/query:
    get:
      summary: Query survey responses
      description: Query survey responses with optional filtering
      tags:
        - Surveys
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: query
          name: eventId
          schema:
            type: string
          description: Filter by event ID
        - in: query
          name: formId
          schema:
            type: string
          description: Filter by form ID
        - in: query
          name: teamNumber
          schema:
            type: string
          description: Filter by team number
      responses:
        "200":
          description: Survey responses retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSurveyQuerySuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /webhook/tba:
    post:
      summary: Receive TBA webhook notifications
      description: Endpoint to receive webhook notifications from The Blue Alliance
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookTbaRequest"
      responses:
        "200":
          description: Notification received successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostWebhookTbaSuccess"
        "401":
          description: Unauthorized - Invalid HMAC signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /webhook/tba/status:
    get:
      summary: Get TBA webhook status
      description: Retrieve the status of The Blue Alliance webhook integration
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebhookTbaStatusSuccess"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /assignments:
    post:
      summary: Create a new task assignment
      description: Create a new scouting or pit-scouting task assignment (admin only)
      tags:
        - Assignments
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssignmentRequest"
      responses:
        "200":
          description: Assignment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAssignmentsSuccess"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Bad request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /assignments/{id}:
    put:
      summary: Update a task assignment
      description: Update an existing task assignment (admin only)
      tags:
        - Assignments
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Task assignment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssignmentRequest"
      responses:
        "200":
          description: Assignment updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAssignmentsByIdSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "404":
          description: Assignment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
    delete:
      summary: Delete a task assignment
      description: Delete an existing task assignment (admin only)
      tags:
        - Assignments
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Task assignment ID
      responses:
        "200":
          description: Assignment deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAssignmentsByIdSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Forbidden
        "404":
          description: Assignment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Server error
  /assignments/events/{eventKey}:
    get:
      summary: Get all assignments for an event
      description: Get all task assignments for a specific event (admin only)
      tags:
        - Assignments
      security:
        - bearerAuth: []
        - apiKeyAuth: []
          apiSecretAuth: []
      parameters:
        - in: path
          name: eventKey
          required: true
          schema:
            type: string
          description: Event key (e.g. 2025ohcl)
      responses:
        "200":
          description: Assignments retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssignmentsEventsByEventSuccess"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
                    message: Unauthorized
        "403":
          description: Forbidden - Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                DefaultError:
                  value:
                    success: false
[...]
