openapi: 3.0.0
info:
  title: Team 695 API
  version: 1.0.0
  description: API documentation for managing events, surveys, teams, uploads, and feedback.
servers:
  - url: https://api.team695.com
    description: Production server
  - url: http://localhost:3000/api
    description: Development server
tags: 
  - name: Authentication
    description: APIs related to user authentication and authorization
  - name: Events
    description: APIs related to event management
  - name: Surveys
    description: APIs related to survey submissions and queries
  - name: Teams
    description: APIs related to team information
  - name: Uploads
    description: APIs for uploading and managing files
  - name: Feedback
    description: APIs for submitting feedback
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        id_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
        scope:
          type: string
    
    UserInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        avatar:
          type: string
        email:
          type: string
        isAdmin:
          type: boolean
        roles:
          type: array
          items:
            type: string
        permissions:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            type: string
  
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/callback:
    post:
      tags:
        - Authentication
      summary: Exchange authorization code for access token
      description: Handles OAuth callback and exchanges the code for an access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Authorization code from Casdoor
                state:
                  type: string
                  description: State parameter from OAuth flow
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request
        '500':
          description: Server error

  /auth/refresh-token:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Uses a refresh token to get a new access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  description: Refresh token
      responses:
        '200':
          description: Successfully refreshed token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request
        '500':
          description: Server error

  /auth/me:
    get:
      tags:
        - Authentication
      summary: Get current user information
      description: Returns information about the currently authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      description: Invalidates the current session
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /auth/validate:
    get:
      tags:
        - Authentication
      summary: Validate token
      description: Checks if the provided token is valid
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  isAdmin:
                    type: boolean
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /event/event-id:
    get:
      tags:
        - Events
      summary: Get the latest event ID
      description: Fetch the most recent event ID from the database.
      responses:
        200:
          description: Successfully fetched the event ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
        404:
          description: Event not found.
        500:
          description: Failed to fetch event ID.

  /survey/submit:
    post:
      tags:
        - Surveys
      summary: Submit a survey
      description: Submit survey data to the database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventId:
                  type: string
                tabs:
                  type: array
                  items:
                    type: object
                    properties:
                      formId:
                        type: string
                      formData:
                        type: array
                        items:
                          type: object
                          properties:
                            question:
                              type: string
                            value:
                              type: string
                images:
                  type: object
                  properties:
                    fullRobotImages:
                      type: array
                      items:
                        type: object
                        properties:
                          url:
                            type: string
                          name:
                            type: string
                          size:
                            type: number
                    driveTrainImages:
                      type: array
                      items:
                        type: object
                        properties:
                          url:
                            type: string
                          name:
                            type: string
                          size:
                            type: number
                userData:
                  type: object
                  properties:
                    email:
                      type: string
                    avatar:
                      type: string
                    userId:
                      type: string
                    username:
                      type: string
                    displayName:
                      type: string
                deviceInfo:
                  type: object
                  properties:
                    userAgent:
                      type: string
                    ip:
                      type: string
                    language:
                      type: string
      responses:
        200:
          description: Survey submitted successfully.
        500:
          description: Failed to submit survey.

  /survey/query:
    get:
      tags:
        - Surveys
      summary: Query surveys
      description: Fetch survey data based on query parameters.
      parameters:
        - in: query
          name: eventId
          schema:
            type: string
          description: Event ID
        - in: query
          name: formId
          schema:
            type: string
          description: Form ID
        - in: query
          name: teamNumber
          schema:
            type: string
          description: Team number
      responses:
        200:
          description: Successfully fetched survey data.
        500:
          description: Failed to query survey responses.

  /team/teams:
    get:
      tags:
        - Teams
      summary: Get all teams
      description: Fetch all teams from the database.
      responses:
        200:
          description: Successfully fetched teams.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    team_number:
                      type: string
                    team_name:
                      type: string
        500:
          description: Failed to fetch teams.

  /upload/upload:
    post:
      tags:
        - Uploads
      summary: Upload an image
      description: Upload an image to Cloudflare R2 and store metadata in the database.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
      responses:
        200:
          description: Image uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        400:
          description: No file uploaded.
        404:
          description: Event not found.
        500:
          description: Failed to upload image.

  /upload/images/{imageId}:
    delete:
      tags:
        - Uploads
      summary: Delete an image
      description: Delete an image from Cloudflare R2 and update the database.
      parameters:
        - in: path
          name: imageId
          required: true
          schema:
            type: string
          description: The ID of the image to delete.
      responses:
        200:
          description: Image deleted successfully.
        404:
          description: Image not found.
        500:
          description: Failed to delete image.

  /feedback/feedback:
    post:
      tags:
        - Feedback
      summary: Submit feedback
      description: Submit feedback with rate limiting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feedback:
                  type: string
      responses:
        200:
          description: Feedback submitted successfully.
        429:
          description: Too many requests.
        500:
          description: Failed to submit feedback.