<div style="position: relative">
    <includetail></includetail>
    <div id="isForwardContent">
        <div>
            <div id="content">
                <div style="
                    background: #fff;
                    width: 95%;
                    max-width: 800px;
                    margin: auto auto;
                    border-radius: 5px;
                    border: #49b1f5 1px solid;
                    overflow: hidden;
                    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18);
                ">
                    <header style="overflow: hidden">
                        <img src="https://cdn.jsdelivr.net/gh/1834423612/img-hosting@master/banner01.png" style="width: 100%; z-index: 666" />
                    </header>
                    <div style="padding: 5px 20px">
                        <div class="dear" style="
                            position: relative;
                            color: #fff;
                            float: left;
                            z-index: 999;
                            background: #49b1f5;
                            padding: 5px 30px;
                            margin: -25px auto 0;
                            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
                        ">
                            Deer&nbsp;<strong>Admin,</strong>
                        </div>
                        <br />
                        <center>
                            <h3>
                                <span style="font-size: 16.38px">New messages sent from {name}</span>
                            </h3>
                        </center>
                        <hr style="
                            width: 200px;
                            border: 0;
                            border-bottom: 1px solid #e5e5e5;
                            margin: 12px auto;
                        " />
                        <strong>{name}&nbsp;</strong>
                        ({email}), presented a new message via
                        <strong>
                            <a href="https://www.frc695.com/contact/#53fa66a047ce4eb4bd8d95ca1c370724"
                                style="text-decoration: none; color: #49b1f5" target="_blank">
                                &nbsp;
                            </a>
                        </strong>
                        <span style="color: #49b1f5; font-weight: 700">
                            Team 695 Official Website, Contact Page
                        </span>：
                    </div>
                    <div style="padding: 5px 20px">
                        <p></p>
                        <div class="tk-content" style="
                            border-bottom: #ddd 1px solid;
                            border-left: #ddd 1px solid;
                            padding-bottom: 20px;
                            background-color: #eee;
                            margin: 15px 0;
                            padding-left: 20px;
                            padding-right: 20px;
                            border-top: #ddd 1px solid;
                            border-right: #ddd 1px solid;
                            padding-top: 20px;
                        ">
                            <p style="text-align: center">【{Title}】</p>
                            <p>{message}</p>
                            <p style="text-align: right">
                                Send time:&nbsp;
                                <strong>
                                    <span style="color: #12addb">
                                        {sendtime}&nbsp;
                                    </span>
                                </strong>
                                <span style="color: #6b7280; font-family: Manrope, ui-sans-serif, system-ui, sans-serif,">
                                    <span style="font-size: x-small">(EDT)</span>
                                </span>
                            </p>
                        </div>
                        <p>
                            <span>
                                The IP address of the commenter:&nbsp;
                                <strong>
                                    <span style="
                                        text-decoration-thickness: initial;
                                        text-decoration-style: initial;
                                        text-decoration-color: initial;
                                        color: #12addb;
                                        ">
                                        {IP}
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p>
                            <span>
                                The UA of the commenter:
                                <strong>
                                    <span style="color: #12addb">
                                        ({UA})
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p>
                            The Device Info of the commenter:
                            <strong>
                                <span style="color: #12addb">
                                    [{Screen}]
                                </span>
                            </strong>
                            <span style="color: #6b7280;font-family: Manrope, ui-sans-serif, system-ui, sans-serif">
                                <span style="font-size: x-small">
                                    (Width × Height)
                                </span>
                                ,
                            </span>
                            <strong>
                                <span style="color: #12addb">
                                    &nbsp;({lang})
                                </span>
                            </strong>
                        </p>
                        <br />
                        <div class="chakan" style="text-align: center">
                            <a href="https://www.frc695.com/" style="
                                color: #fff;
                                text-decoration: none;
                                display: inline-block;
                                min-height: 28px;
                                line-height: 28px;
                                padding: 0 13px;
                                outline: 0;
                                background: #3eae5f;
                                font-size: 13px;
                                text-align: center;
                                font-weight: 400;
                                border: 0;
                                border-radius: 999em;
                                " target="_blank">
                                Go to Team Official Website&gt;&gt;&gt;
                            </a>
                            <p></p>
                        </div>
                        <div class="footer-p" style="
                            text-align: center;
                            margin-top: 5rem;
                            display: block;
                            color: #b3b3b1;
                            text-decoration: none;
                        ">
                            <img src="https://cdn.jsdelivr.net/gh/1834423612/img-hosting@master/logo.png"
                                style="width: 223px; margin: 0 auto; height: 65px" modifysize="25%" diffpixels="-1px" />
                                &nbsp;
                            <hr style="
                                width: 165px;
                                border: 0;
                                border-bottom: 1px solid #e5e5e5;
                                margin: 5px auto;
                            " />
                            © from&nbsp;
                            <b>
                                <a href="https://www.frc695.com/" style="
                                    text-align: center;
                                    color: #0da1e6a6;
                                    text-decoration: none;
                                " target="_blank">
                                    Team 695 Bison Robotics
                                </a>
                            </b>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    </includetail>
</div>
<style type="text/css">
    .qmbox::-webkit-scrollbar {
        display: none;
    }
</style>
<style id="cloudAttachStyle" type="text/css">
    .qmbox#divNeteaseBigAttach,
    .qmbox#divNeteaseBigAttach_bak {
        display: none;
    }
</style>
<style id="blockquoteStyle" type="text/css">
    blockquote {
        display: none;
    }
</style>
<style type="text/css">
    body {
        font-size: 14px;
        font-family: arial, verdana, sans-serif;
        line-height: 1.666;
        padding: 0;
        margin: 0;
        overflow: auto;
        white-space: normal;
        word-wrap: break-word;
        min-height: 100px;
    }

    body,
    button,
    input,
    select,
    td {
        font-family: Helvetica, "Microsoft Yahei", verdana;
    }

    pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 95%;
    }

    td,
    th {
        font-family: arial, verdana, sans-serif;
        line-height: 1.666;
    }

    img {
        border: 0;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section {
        display: block;
    }

    blockquote {
        margin-right: 0;
    }
</style>
<style type="text/css">
    @media screen and(max-width:1100px) {
        #content p {
            font-size: 10px;
        }

        #content h3 {
            font-size: 14px;
        }

        .footer-p {
            font-size: 9px;
        }

        .dear {
            font-size: 12px;
        }
    }
</style>
<style id="ntes_link_color" type="text/css">
    a,
    td a {
        color: #236da1;
    }
</style>